{{% BLOCKS }}
{{< master }}

{{$ content}}

<h2>Recursos en internet</h2>

<p>
    Esta tarea del curso se trata de buscar recursos en internet sobre hacking, dos blogs y un foro. Existen infinidad de recursos en internet sobre esto,
    al no saber cual serán los mejores sitios, he hecho varias búsquedas en internet y escogido tres:
</p>

<p>Blog en español: <a href="http://www.securitybydefault.com/">http://www.securitybydefault.com/</a>, he leído en varios sitios que cuenta con el reconocimiento de la comunidad por su alto contenido técnico y está actualizado.</p>

<p>Foro: <a href="http://foro.elhacker.net/">http://foro.elhacker.net/</a>, muchas búsquedas en google llevan a él, veo que tiene casi 320.000 temas, más 1.750.000 de mensajes
y está llegando a 400.000 usuarios, está actualizado casi al minuto. Por estás razones pienso que puedes encontrar casi cualquier cosa, no se si a la ahora
de buscar algo más concreto, habrá otros con menos cantidad de información pero que sea más específica.
</p>

<p>
Blog en inglés: por último he hecho varias búsquedas en inglés para ver que recursos podría encontrar, he seleccionado uno que me pareció interesante <a href="https://thehackerblog.com/index.html">https://thehackerblog.com/index.html</a>, el contenido
está actualizado, me gusta que se conozca a la persona que hay detrás de él y me ha parecido interesante los enlaces a su código de github.
</p>

{{> course/links }}

{{/ content}}
{{/ master }}
