{{% BLOCKS }}
{{< master }}

{{$ content}}

<h2>Ética del hacker</h2>

<p>Algunos enlaces, sobre el caso de <b>Hacking Team</b>, que sirven de ayuda para reflexionar sobre la <b>ética de los hackers</b>:</p>

<ul>
    <li>- <a href="http://www.theguardian.com/technology/2015/jul/06/hacking-team-hacked-firm-sold-spying-tools-to-repressive-regimes-documents-claim">Hacking Team hacked: firm sold spying tools to repressive regimes, documents claim (6/7/2015)</a></li>
    <li>- <a href="http://www.fayerwayer.com/2015/07/hacking-team-recibe-una-cucharada-de-su-propia-medicina-y-le-filtran-400gb-de-datos-internos-de-la-compania/">Hackean a HackingTeam y filtran 400GB de información confidencial (6/7/2015)</a></li>
    <li>- <a href="http://www.eldiario.es/politica/Hacking-Team-aplicaciones-seguridad-gobiernos_0_406309560.html">El CNI compra material de espionaje en Italia para colarse en los principales sistemas operativos (6/7/2015)</a>&nbsp;</li>
    <li>- <a href="http://www.xataka.com/seguridad/lo-que-los-hackers-de-verdad-piensan-de-hacking-team">Lo que los hackers de verdad piensan de Hacking Team</a></li>
</ul>

<p>Manifiesto a favor de la ética hacker y la relevancia social de los hackers para garantizar la privacidad y la seguridad en la red de la ciudadanía</p>

<ul>
    <li>- Himanen, P. (2001). La Ética del Hacker y el espíritu de la era de la información. Recuperado de <a href="http://eprints.rclis.org/12851/1/pekka.pdf">eprints.rclis.org/12851/1/pekka.pdf</a></li>
</ul>

<p>Hacking a Hacking Team:</p>
<ul>
    <li>- <a href="http://pastebin.com/GPSHF04A">Hack Back! Una Guía DIY</a></li>
</ul>

{{> course/links }}

{{/ content}}
{{/ master }}
