.badges {

    img {
        width: 80px;
        border: 1px solid #f5f5f5;
    }
    ul  {
        margin: 0;
    }
    li {
        display: inline;
        margin: 0;
    }

    @media (--mobile-landscape) {

        img {
            width: 110px;
        }
    }
}

