{{% BLOCKS }}
{{< master }}

{{$ content}}

<p class="big">
    Este sitio ha sido creado para la <a href="https://mooc.mondragon.edu/courses/course-v1:INFORMATICA+Seguridad-2016+Hacking-etico/about">segunda edición del MOOC de Hacking Ético</a> de la <a href="http://www.mondragon.edu">Mondragon Unibertsitatea</a> en septiembre de 2016.
    El código fuente del sitio y su contenido se encuentran en <a href="https://github.com/dieg0v/ethicalhack.dieg0v.com">github</a> y se distribuye bajo <a href="https://github.com/dieg0v/ethicalhack.dieg0v.com/blob/master/LICENSE.md">licencia MIT</a>. Puedes
    encontrar más información Twitter con el hashtag <a href="https://twitter.com/search?q=%23moocHackingMU&src=typd&vertical=default&f=tweets">#moocHackingMU</a>
</p>

<ul class="list">
    <li>
        <a href="/herramientas-basicas-para-obtener-informacion-de-servidores-externos">
            Herramientas básicas para obtener información de servidores externos
        </a>
    </li>
    <li>
        <a href="/recursos-en-internet">
            Recursos en internet
        </a>
    </li>
    <li>
        <a href="/pretty-good-privacy-pgp-criptografia">
            Pretty Good Privacy (PGP) - Criptografía
        </a>
    </li>
</ul>


{{/ content}}

{{/ master }}
